@charset "utf-8";

/*
   CIS130-101
   Homework: a Place to Visit
   Tutorial Case

   Author:   James R. Allen and Zachary Creedon
   Date:     5/1/18

   Filename: styles.css

   This file contains the initial settings for index.html
   designed to display "A place to visit" with
   the incorporation of bootstrap.

*/
html
{
  overflow: auto;
  position: relative;
  height: 900px;
  width: 100%;
}
/* ===========
   Base Styles
   ===========
    */

body
{
  font-family: lobster, Helvetica, Arial, sans-serif, cursive;
  padding-top: 10px;
  margin: 0;
  background-color: #1E90FF;
  text-align: center;
}

.navbar-nav
{
  float: none;
  margin: 0 auto;
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.navbar-nav > li
{
  display: inline-block;
  text-shadow: 2px 1px white;
  float: none;
  text-decoration: none;
}
a:link
{
  text-decoration:none;
}
a:visited
{
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}
a:active
{
  text-decoration: none;
}

h1
{
	font-family: lobster, cursive;
    background-color: navy;
    color: white;
    text-align: center;
    text-shadow: 5px 3px FireBrick;
    font-size: 60px;
}

h3
{
  font-family: sans-serif;
  color: white;
}

.carousel-inner > .item > a >img
{
  margin: auto;
  width: 90%;
}

.carousel-caption > p
{
  color: white;
  font-family: sans-serif;
}
  /* all above this line belongs to Index.html */
