@charset "utf-8";

/*
   CIS130-101
   Homework: a Place to Visit
   Tutorial Case

   Author:   James R. Allen and Zachary Creedon
   Date:     5/1/18

   Filename: styles.css

   This file contains the initial settings for index.html
   designed to display "A place to visit" with
   the incorporation of bootstrap.


html
{
  overflow: auto;
  position: relative;

} */
/* ===========
   Base Styles
   ===========
    */

body
{
  font-family: lobster, Helvetica, Arial, sans-serif, cursive;
  margin: 0;
  background-color: #1E90FF;
  text-align: center;
}

.navbar-brand
{
  font-size: 40px;
}
.nav-navbar-nav
{
  float: none;
  margin: auto;
  font-size: 45px;
  display: inline;
  text-align: right;
  text-decoration: none;
    padding: 14px 16px;
}
.nav-navbar-nav > li
{
  display: inline;
  text-shadow: 2px 1px white;
  float: left;
  border-right: 1px solid white;
  text-decoration: none;
  padding: 10px 15px;
}
.nav-navbar-nav > li > a> last-child
{
  border: none;
}

.page-header > h1
{
	font-family: lobster, cursive;
    color: white;
    text-align: center;
    text-shadow: 5px 3px FireBrick;
    font-size: 60px;
    text-decoration: none;
}

h3
{
  font-family: sans-serif;
  color: white;
}
/*
.jumbotron > .carousel-inner > .item > a >img
{
  margin: 0;
  width: 100%;
  height:100%;
} */

.carousel-inner img
{
  margin: 0;
  width: 100%;
  height: 100%;
}
.carousel-caption > p
{
  color: white;
  font-family: sans-serif;
}
  /* all above this line belongs to Index.html */
